/*This is just to make things look nice */
header {
  margin-left: 600px;
  margin-bottom: 50px;
  color: rgb(95, 87, 144);
  font: 32px "monaco";
}
h3 {
  color: rgb(141, 166, 187);
  font: 20px "monaco";
  margin-left: 670px;
}
p {
  font: 17px "monaco";
  color: rgb(18, 52, 60);
  margin-left: 480px;
}
img {
  height: 300px;
  margin-left: 460px;
  margin-bottom: 35px;
  padding: 10px;
}
/*This is to animate the backround color from a grey to a dark grey forever */
body {
  background-color: gray;
  animation-name: body;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
@keyframes body {
  0% {
    background-color: gray;
  }
  50% {
    background-color: rgb(77, 75, 75);
  }
  100% {
    background-color: gray;
  }
}
/*This is to line all the links up with the middle of the picture: */

.Grocery {
  margin-left: 700px;
  font: 16px "monaco";
}
.Zoo {
  margin-left: 687px;
  font: 16px "monaco";
}
.Link {
  margin-left: 700px;
  font: 16px "monaco";
}
